@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #050555;
    color:white;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.logo {
    background-color: #242424;
    box-shadow: 10px 5px 5px rgb(56, 19, 19);
    padding: 15px 25px;
    color: white;
    border-radius: 50px;
    width: 285px;
    text-align: center;
}

#landing {
  width: 100%;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, red, yellow);
    align-items: center;
    max-width: 2500px;
    padding: 0 50px;
    height: 100px;
}

.search__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


/*search*/

/* From Uiverse.io by satyamchaudharydev */ 
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 500px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  margin: 10px auto;
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

/*landing*/

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

/* Main page */

.main__page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    width: 100%;
}

/* Filter */

.filter__section {
    background-color: #2f2ee9;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 75px;
}

.filter__sort {
     height: 50px;
     width: 165px;
     height: 50px;
     border-radius: 5px;
     font-weight: 600;
     text-align: center;
     margin-left: 25px;
}

/*results*/

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.movie__poster--img {
    width: 250px;
    height: 350px;
}

.movie-list {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 50px 25px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
}

.movie__imdb {
    background-color: yellow;
    color: #242424;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    
}

.movie__profile {
    margin: 45px;
    width: 250px;
}

.button__wrapper {
    margin-top: 15px;
}

/* Footer */

.footer {
    position: static;
    left:0;
    bottom:0;
    width: 100%;
    background-color: #111010;
    color: white;
    text-align: center;
    padding: 25px 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.footer__copyright {
    font-size: 14px;
    color: #bbbbbb;
    margin-top: 25px;
}

/* Mobile Responsive */

@media (max-width: 768px) {
    .movie__poster--img {
        width: 200px;
        height: 300px;
    }

    .movie__profile {
        margin: 25px;
        width: 200px;
    }

    .filter__sort {
        width: 140px;
        height: 40px;
        font-size: 14px;
        margin-left: 10px;
    }

    nav {
    flex-direction: column;
    height: auto;
  }

  .search__wrapper {
    margin-top: 10px;
    flex-direction: column-reverse;
    padding: 10px 10px;
  }

  .movie-list {
    margin: 25px 10px;
    justify-content: space-around;
    align-items: center;
  }
  
  figure {
    margin-top: 25px;
  }

  h2 {
    text-align: center;
  }

  .movie {
    text-align: center;
  }
}

 @media (max-width: 480px) {
    .movie__poster--img {
        width: 150px;
        height: 225px;
    }

    .movie__profile {
        margin: 15px;
        width: 150px;
    }

    .filter__sort {
        width: 120px;
        height: 35px;
        font-size: 12px;
        margin-left: 5px;
    }
 }
